//Colors:
$navyblue: #030106;
$blue: #361AFA;
$rose: #E701E0;
//Navigation colors:
$nav-background: $navyblue;
$nav-text-color: white;
//Clock colors
$clock-text-color: white;
$clock-bg-color: linear-gradient($blue, $rose);
$clock-border-color: white;